<template >
  <div class="page-container">
    <md-app md-waterfall style="min-height: 100vh;">
      <md-app-drawer md-permanent="full" md-mode="reveal">
        <md-toolbar class="md-transparent" md-elevation="0">
          <span>Navigation</span>
          <!--
          <div class="md-toolbar-section-end" >
            <md-button class="md-icon-button md-dense md-primary" :md-theme="'identicum-teal'">
           
              <md-icon>keyboard_arrow_left</md-icon>
            </md-button>
          </div>
          --> 
        </md-toolbar>
        <md-list :md-theme="'identicum-teal'">
          <md-list-item to="/users">
            <md-icon class="md-primary">account_circle</md-icon>
            <span class="md-list-item-text">Users</span>
          </md-list-item>
          <md-list-item to="/roles" >
            <md-icon class="md-primary">assignment_ind</md-icon>
            <span class="md-list-item-text">Roles</span>
          </md-list-item>
        </md-list>
      </md-app-drawer>

      <md-app-content>
        <top-navbar></top-navbar>
         <transition name="fade" mode="out-in">
            <router-view></router-view>
         </transition>
          <div>
            <div v-if="errors && errors.length > 0">
              <div class='error' v-for='(error, index) in errors' :key='index'>
                <md-snackbar :md-active="error?true:false" style="background:#ff5252" md-persistent>
                  <span>{{error}}</span>
                </md-snackbar>
              </div>
            </div> 
             <div v-if="messages && messages.length > 0">
              <div class='message' v-for='(message, index) in messages' :key='index'>
                <md-snackbar :md-active="message?true:false" style="background:#64ffda" md-persistent>
                  <span>{{message}}</span>
                </md-snackbar>
              </div>
            </div>   
          </div>
      </md-app-content>
    </md-app>
  </div>
</template>


<script>

import TopNavbar from "./TopNavbar.vue";
import { mapGetters } from 'vuex';

export default {
  name: 'HomeView',
  components : {
    TopNavbar
  },
  computed: {
      ...mapGetters([ 'errors', 'messages' ])
  }
};
</script>

<style lang="scss" scoped>
  @import url("https://fonts.googleapis.com/css?family=Material+Icons");
  .md-app {
    max-height: 400px;
    border: 1px solid rgba(#000, .12);
  }
   // Demo purposes only
  .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
  }
  
  @import "vue-material/dist/theme/engine";

  @include md-register-theme("identicum-teal", (
    primary: md-get-palette-color(teal, A200),
    accent: md-get-palette-color(red, A200),
    theme: dark
  ));

  @include md-register-theme("identicum-orange", (
    primary: md-get-palette-color(orange, A200)
  ));

  @include md-register-theme("identicum-red", (
    primary: md-get-palette-color(red, A200)
  ));

  @import "vue-material/dist/theme/all";
  
</style>