<template>
     <RolesList></RolesList>
</template>

<script>
    import RolesList from '@/components/RolesList'
    export default {
        name: "RolesView",
        components : {
            RolesList
        }
    };
</script>