<template>
  <md-toolbar md-elevation="0" class="md-transparent">
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <h3 class="md-title">{{ $route.name }}</h3>
      </div>
      <!--
      <div class="md-toolbar-section-end">
        <md-button class="md-icon-button" md-menu-trigger>
            <md-icon>perm_identity</md-icon>            
        </md-button>
      </div>
      -->
    </div>
 </md-toolbar>
 </template>

 <script>
 </script>
 
 <style>
 </style>
