<template>
     <UserList></UserList>
</template>

<script>
    import UserList from '@/components/UserList'
    export default {
        name: "UsersView",
        components : {
            UserList
        }
    };
</script>