<template>
     <UserEdit></UserEdit>
</template>

<script>
    import UserEdit from '@/components/UserForm'
    export default {
        name: "UsersEdit",
        components : {
            UserEdit
        }
    };
</script>