<template>
    <div>
        <md-empty-state
            class="md-accent"
            md-rounded
            md-icon="tag_faces"
            md-label="Not implemented.."
            md-description="I'll do when i have time...">
            </md-empty-state>
    </div>
</template>

<script>
export default {
    name : "RoleList"
}
</script>