<template>
      <div>
       <!--{{users}} -->
      <md-toolbar class="md-transparent" md-elevation="0" >
        <div class="md-toolbar-row">
          <!--
          <h1 class="md-title">Users</h1>
          <md-field md-clearable class="md-toolbar-section-end">
            <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable"></md-input>
          </md-field>
          -->
            
            <div class="md-toolbar-section-start">
              <!-- <h3 class="md-title" style="flex: 1">Users</h3>-->
            </div>  
            
            <div class="md-toolbar-section-end">
              <div class="md-layout-item md-size-60">
                <md-field md-clearable>
                  <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable"></md-input>
                </md-field>
              </div>
              <md-button class="md-icon-button" @click="searchUsers()">
                <md-icon>refresh</md-icon>
              </md-button>
              <md-menu md-align-trigger>
                <md-button class="md-icon-button" md-menu-trigger>
                  <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                  <md-menu-item @click="openModal(true)">
                    <span>Create User</span>
           <!--         <md-icon>perm_identity</md-icon> -->
                  </md-menu-item>
                </md-menu-content>
               </md-menu> 
            </div>
        </div>  
      </md-toolbar>
      <div v-if="users && users.length > 0">
          <!--
          <li v-for="item in users" :key="item.id">
            {{ item.id }}
          </li>
         -->
          <md-table md-card>
            <md-table-row> 
              <md-table-head md-numeric>ID</md-table-head>
              <md-table-head >Name</md-table-head>
              <md-table-head>Firstname</md-table-head>
              <md-table-head>Lastname</md-table-head>
              <md-table-head>Email</md-table-head>
            </md-table-row>
           <md-table-row v-for="item in users" :key="item.id">
              <md-table-cell md-label="ID" md-numeric>{{item.id}}</md-table-cell>
              <md-table-cell md-label="Name" md-sort-by="name">{{ item.username }}</md-table-cell>
              <md-table-cell md-label="Firstname" md-sort-by="firstname">{{  item.firstName }}</md-table-cell>
              <md-table-cell md-label="Lastname" md-sort-by="lastname">{{  item.lastName }}</md-table-cell>
              <md-table-cell md-label="Email" md-sort-by="email">{{  item.email }}</md-table-cell>
          </md-table-row>
        </md-table>
      </div>
      <div v-else>
        <div v-if="users && users.length === 0">
            <div v-if="users">
              <div>
                <md-empty-state
                  md-icon="account_circle"
                  md-label="No users found"
                  md-description="No user found. Try a different search term or create a new user.">
                  <md-button class="md-primary md-raised"  @click="openModal(true)">Create New User</md-button>
                </md-empty-state>
              </div>
              <!--
              <md-table-empty-state md-label="No users found" :md-description="`No user found. Try a different search term or create a new user.`">
                  <md-button class="md-primary md-raised" @click="newUser">Create New User</md-button>
              </md-table-empty-state>
              -->
          </div>
        </div>
      </div>
        <!--
        <md-table md-sort="name" md-sort-order="asc" md-card  md-fixed-header> 
       
        <md-table md-sort="name" md-sort-order="asc" md-card  md-fixed-header> 
        <md-table-toolbar>
            <h1 class="md-title">Users</h1>
            <md-field md-clearable class="md-toolbar-section-end">
            <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable">
            </md-field>
        </md-table-toolbar>
        <ul v-if="errors && errors.length">
            {{errors}}
        </ul>
        -->
          <!--
          <div v-if="users">
              <md-table-empty-state md-label="No users found" :md-description="`No user found. Try a different search term or create a new user.`">
                  <md-button class="md-primary md-raised" @click="newUser">Create New User</md-button>
              </md-table-empty-state>
          </div>
          -->
         
           <!--
          <md-table-row slot="md-table-row" v-for="(value, index) in users.data" v-bind:key="index">
              <md-table-cell md-label="ID" md-numeric>{{value}}</md-table-cell>
             <md-table-cell md-label="Name" md-sort-by="name">{{ item.username }}</md-table-cell>
              <md-table-cell md-label="Firstname" md-sort-by="firstname">{{ item.firstName }}</md-table-cell>
              <md-table-cell md-label="Lastname" md-sort-by="lastname">{{ item.lastName }}</md-table-cell>
              <md-table-cell md-label="Email" md-sort-by="email">{{ item.email }}</md-table-cell>
          </md-table-row>
        </md-table>
        -->
      <div>
         <md-dialog :md-active.sync="showModal">
            <UserForm @openModal="openModal"></UserForm>
          <!--<md-dialog-title>User</md-dialog-title>-->
            <!-- <UserForm></UserForm> -->
          <!--
          <md-dialog-actions>
            <md-button class="md-primary" @click="showUserCreateForm = false">Close</md-button>
            <md-button class="md-primary" @click="showUserCreateForm = false">Save</md-button>
          </md-dialog-actions>-->
         </md-dialog>
      </div> 
    </div>
</template>

<script>
  import { mapGetters } from "vuex";
  import UserForm from "./UserForm";
  //import UserService from '@/common/UserService';
  // import axios from 'axios';
  //axios.defaults.baseURL = process.env.VUE_APP_API_ENDPOINT;
   /**
  const toLower = text => {
    return text.toString().toLowerCase()
  }
 
  const searchByName = (items, term) => {
    if (term) {
      return items.filter(item => toLower(item.username).includes(toLower(term)))
    }
    return items
  }
  **/
  export default {
  name: "UserList",
  components : {
      UserForm
  },
  data() {
   return {
      search: null,
      showModal : false
  //    searched: [],
  //    users2: [],
  //    errors: []
  //    }
  }},
  computed: {
    /** 
    users: {
      get () {
        return this.$store.getters["users"];
      }},
      set(){
        return null;
      }**/
   ...mapGetters([
      'users'
      ]) 
   },
  methods: {
      newUser () {
        window.alert('Not implemented')
      },
      searchOnTable () {
        //this.searched = searchByName(this.users, this.search)
        this.$store.dispatch("findUsersByName", this.search)
      },
      openModal(show){
          this.showModal = show;
      },
      searchUsers() {
        this.$store.dispatch("getUsers")
        //this.users = UserService.query().data;
        //this.$log.debug(JSON.stringify(UserService.query()));
        //this.searched = this.users;
      }
  },
  // Fetches posts when the component is created.
  mounted() {
    this.searchUsers()
    /** 
    axios.get('/users')
    .then(response => {
      this.users = response.data
      this.searched = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
    **/
  }
  }
</script>

<style lang="scss" scoped>
    //@import "~vue-material/theme/engine";
   .md-dialog {
    min-width: 768px;
  }

  .table-head {
    color: #4caf50;
  }

</style>