<template>
  <div>
    <form novalidate class="md-layout" @submit.prevent="validateUser" autocomplete="off" >
      <md-card class="md-layout-item md-size-100 md-small-size-100">
      <md-card-header style="margin-bottom:5px;margin-top:10px;">
          <div class="md-title">User Registration</div>
        </md-card-header>
      <md-card-content>
        <md-steppers :md-active-step.sync="active" md-linear>
          <md-step id="first" md-label="Basic information" md-description="Personal info" :md-done.sync="first">
              <div class="md-layout md-gutter" style="margin-top:5px;">
                <div class="md-layout-item md-small-size-100" >
                  <md-field :class="getValidationClass('firstName')">
                    <label for="first-name">First Name</label>
                    <md-input name="first-name" id="first-name" autocomplete="off" v-model="form.firstName" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.firstName.required">The first name is required</span>
                    <span class="md-error" v-else-if="!$v.form.firstName.minlength">Invalid first name</span>
                  </md-field>
                </div>
                <div class="md-layout-item md-small-size-100">
                  <md-field :class="getValidationClass('lastName')">
                    <label for="last-name">Last Name</label>
                    <md-input name="last-name" id="last-name" autocomplete="off" v-model="form.lastName" :disabled="sending" />
                    <span class="md-error" v-if="!$v.form.lastName.required">The last name is required</span>
                    <span class="md-error" v-else-if="!$v.form.lastName.minlength">Invalid last name</span>
                  </md-field>
                </div>
              </div>
            <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                    <md-field :class="getValidationClass('username')">
                        <label for="username">Username</label>
                        <md-input name="username" id="username" autocomplete="off" v-model="form.username" :disabled="sending" />
                        <span class="md-error" v-if="!$v.form.username.required">The username is required</span>
                        <span class="md-error" v-else-if="!$v.form.username.minlength">Invalid username</span>
                    </md-field>
                </div>
                <div class="md-layout-item md-small-size-100">
                    <md-field :class="getValidationClass('email')">
                        <label for="email">Email</label>
                        <md-input type="email" name="email" id="email" autocomplete="off" v-model="form.email" :disabled="sending" />
                        <span class="md-error" v-if="!$v.form.email.required">The email is required</span>
                        <span class="md-error" v-else-if="!$v.form.email.email">Invalid email</span>
                    </md-field>
                </div>
            </div>
            <md-button style="margin-top:60px;" class="md-raised md-primary" @click="setDone('first', 'second')">Continue</md-button>
       </md-step>
        <md-step id="second" md-label="Security information"  md-description="Credentials" :md-error="secondStepError" :md-done.sync="second">
            <div class="md-layout md-gutter" style="margin-top:5px;">
                <div class="md-layout-item md-small-size-100">
                    <md-field :class="getValidationClass('password')">
                        <label for="password">Password</label>
                        <md-input name="password" id="password" autocomplete="off" v-model="form.password" :disabled="sending" />
                        <span class="md-error" v-if="!$v.form.password.required">The Password required</span>
                        <span class="md-error" v-else-if="!$v.form.password.minlength">Invalid password</span>
                    </md-field>
                </div>
             </div>
           <div class="md-layout md-gutter">
                <div class="md-layout-item md-small-size-100">
                    <md-field :class="getValidationClass('repeatPassword')">
                        <label for="repeatPassword">Repeat Password</label>
                        <md-input name="repeatPassword" id="repeatPassword" v-model="form.repeatPassword" autocomplete="off" :disabled="sending" />
                        <span class="md-error" v-if="!$v.form.repeatPassword.sameAsPassword">Passwords must be identical</span>
                    </md-field>
                </div>
            </div>
            
         <!--
         <md-button class="md-raised md-primary" @click="setDone('second', 'third')">Continue</md-button>
         <md-button class="md-raised md-primary" @click="setError()">Set error!</md-button>
         -->
  <!--       <md-button type="submit" class="md-primary" :disabled="sending">Create user</md-button>-->
             <md-button style="margin-top:60px;"  type="submit" class="md-raised md-accent" :disabled="sending">Create user</md-button>
      </md-step>
       </md-steppers>
  </md-card-content>
        <md-progress-bar md-mode="indeterminate" v-if="sending" />
        <!--
        <md-card-actions>
          <md-button type="submit" class="md-primary" :disabled="sending">Create user</md-button>
        </md-card-actions>
        -->
      </md-card>
      <!--
      <md-snackbar :md-active.sync="userSaved">The user {{ lastUser }} was saved with success!</md-snackbar>
      -->
    </form>
  </div>
</template>

<script>
  import {  mapActions } from 'vuex'
  import { validationMixin } from 'vuelidate'
  import {
    required,
    email,
    minLength,
    sameAs,
    maxLength
  } from 'vuelidate/lib/validators'

  export default {
    name: 'FormValidation',
    mixins: [validationMixin],
    data: () => ({
      active: 'first',
      first: false,
      second: false,
      secondStepError: null,
      form: {
        username: null,
        firstName: null,
        lastName: null,
        email: null,
        password : null,
        repeatPassword: null
      },
      userSaved: false,
      sending: false,
      lastUser: null
    }),
    validations: {
      form: {
        firstName: {
          required,
          minLength: minLength(3)
        },
        lastName: {
          required,
          minLength: minLength(3)
        },
        username: {
          required,
          minLength: minLength(6)
        },
         password: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(16)
        },
        repeatPassword: {
            sameAsPassword: sameAs('password')
        },
        email: {
          required,
          email
        }
      }
    },
    methods: {
      ...mapActions([
        'saveUser'
      ]),
      setDone (id, index) {
        this[id] = true
        this.secondStepError = null
        if (index) {
          this.active = index
        }
      },
      setError () {
        this.secondStepError = 'This is an error!'
      },
      getValidationClass (fieldName) {
        const field = this.$v.form[fieldName]
        if (field) {
          return {
            'md-invalid': field.$invalid && field.$dirty
          }
        }
      },
      clearForm () {
        this.$v.$reset()
        this.form.firstName = null
        this.form.lastName = null
        this.form.username = null
        this.form.password = null
        this.form.repeatPassword = null
        this.form.email = null
      },
      createUser () {
        this.sending = true
        //Simulate delay response in order so see progress bar
        window.setTimeout(() => {
          //this.lastUser = `${this.form.firstName} ${this.form.lastName}`
          //this.userSaved = true
          this.saveUser(this.form);
          this.sending = true;
          this.$emit("openModal", false);
          //this.clearForm()
        }, 1500)
      },
      validateUser () {
        this.$v.$touch()

        if (!this.$v.$invalid) {
          this.createUser()
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
 // Fixing autocomplete color for chrome
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #424242 inset;
    -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #424242 inset;
    -webkit-text-fill-color: #333;
}
form {
  min-height: 500px;
}
</style>